*{
  font-family: Verdana,sans-serif;
  margin: 0;
  padding: 0;
}

html{
  background-color: #222;
  color: beige;
}

#main{
  display: block;
  padding: 50px;
  margin: 0 auto;
  max-width: 500px;
}

#separator{
  background-color: gold;
  height: 5px;
  margin: 20px auto;
  width: 90%;
  
}

#title{
  text-align: center;
  font-style: italic;
}

#img-div{
  align-items: center;
}

#image{
  display: block;
  max-width: 100%;
  height: auto;
}

#img-caption{
  font-size: 12px;
}

#tribute-info{
  font-size: 16px;
}

footer{
  background-color: black;
}

address{
  text-align : center;
  cursor: pointer;
}
